@import "tailwindcss";

@theme {
  /* --font-anton: "Anton", sans-serif; */

  /* COLORS */
  --color-early-dawn: #fffbe5;
  --color-wine-berry: #45162b;
  --color-wewak: #f198c1;
  --color-toledo: #3d0019;
  --color-candle-light: #fede18;
  --color-livid-brown: #472032;
  --color-cerulean-blue: #2a9df4;
  --color-emerald-green: #50c878;
  --color-sunshine-yellow: #ffea00;
  --color-purple-heart: #9b59b6;
  --color-royal-pink: #e91e63;
  --color-coral-pink: #ff6f61;
  --color-mint-green: #98ff98;
  --color-tangerine: #ff6347;
}

@layer base {
  html {
    font-size: 16px;
    scroll-behavior: smooth;
    background-color: var(--color-early-dawn);
    letter-spacing: 0.025em;
  }

  body {
    color: var(--color-toledo);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-oswald);
    font-weight: 700;
    letter-spacing: 0.025em;
  }

  button,
  a {
    cursor: pointer;
  }
}

@layer components {
}

@layer utilities {
  /* no scrollbar */
  ::-webkit-scrollbar {
    display: none;
  }
}
